
.input-city {
  border-radius: 20px;
  height: 40px;
  background-color: #ffffff;
  padding-left: 22px;
  color: #343434;
  font-weight: 500;
}

.button-city {
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #03b800;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
}

@media (max-width: 768px) {

  .input-city {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .input-city {
    height: 12vw;
    border-radius: 12vw;
    font-size: 4vw;
    padding-left: 6%;
    gap: 3%;
  }

  .button-city {
    min-width: 12vw;
    height: 12vw;
    border-radius: 12vw;
    font-size: 4vw;
  }
}