#root {
  padding-left: 0.8%;
  padding-right: 0.8%;
  width: 60%;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {

  #root {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }

  .header {
    font-size: 5.4vw;
  }

  .input-container {
    gap: 1.5%;
  }

}

@media (max-width: 480px) {

}