.change-day-button {
    border-radius: 20px;
    height: 40px;
    width: 50%;
}

.part-of-day {
    display: flex;
    gap: 4%;
}

.part-of-day-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    width: 18%;
    box-sizing: border-box;
    padding-bottom: 6px;
}

.part-celsius {
    font-weight: 300;
    font-size: 1.7rem;
}

.part-of-day-container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 78%;
}

.part-header {
    font-weight: 700;
    font-size: 1.7rem;
}

.part-p-item {
    display: flex;
    gap: 5px;
}

.part-p-span {
    font-size: 1.5rem;
    line-height: 1rem;
}

/*—————————————————————————————————*\
========= TEXT === CONTAINER ========
\*—————————————————————————————————*/
.text-uv {
    display: flex;
    flex-direction: column;
    gap: 20.5%;
}

.text-img-cont {
    display: flex;
    gap: 2.5%;
}

.text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    width: 18%;
    height: 22vw;
    box-sizing: border-box;
}

.text-img {
    height: 95%;

}

@media (max-width: 768px) {
    .part-of-day-container-left {
        height: 21vw;
        padding-bottom: 0px;
    }

    .part-celsius {
        font-size: 5vw;
    }

    .part-header {
        font-size: 5vw;
        line-height: 7.5vw;
        padding-bottom: 0.5%;
    }

    .part-p {
        font-size: 3.5vw;
    }

    .part-img {
        width: 80%;
    }

    .part-p-span {
        font-size: 5vw;
        line-height: 4vw;
    }

    .part-p-item {
        gap: 2%;
    }
}

@media (max-width: 480px) {}